<section class="mainbar" data-ng-controller="register as vm">

    <section class="matter">
        <div class="container">

            <p>Fill in the form below</p>
            <hr />


            <div class="form-horizontal">
                <h4>Basic Information</h4>

                <br />

                <div class="form-group">
                    <label for="name" class="col-sm-2">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.profile.name" name="name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="DisplayName">Display Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.profile.displayName" name="DisplayName">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="Gender">Gender</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="radio" name="Gender" ng-model="vm.profile.gender" value="Male"> Male
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="Gender" ng-model="vm.profile.gender" value="Female"> Female
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="dateofbirthday">Date Of Birthday</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="dateofbirthday" ng-model="vm.profile.dateOfBirthday"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="MaritalStatus">Marital Status</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="radio" ng-model="vm.profile.maritalStatus" name="MaritalStatus" value="Unmarried"> Unmarried
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" ng-model="vm.profile.maritalStatus" name="MaritalStatus" value="WidowWidower"> Widow/Widower
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" ng-model="vm.profile.maritalStatus" name="MaritalStatus" value="Divorced"> Divorced
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" ng-model="vm.profile.maritalStatus" name="MaritalStatus" value="Separated"> Separated
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="Height">Height</label>
                    <div class="col-sm-10"><input type="text" ng-model="vm.profile.height" class="form-control" name="Height"></div>
                </div>

                <h4>Cultural background</h4>

                <br />

                <div class="form-group">
                    <label class="col-sm-2" for="Religion">Religion</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.profile.religion" name="Religion">
                            <option selected="">--- Select ---</option>
                            <option>Buddhist</option>
                            <option>Christian</option>
                            <option>Muslim</option>
                            <option>Hindu</option>
                        </select>
                    </div>
                </div>

                <h4>Career</h4>

                <br />

                <div class="form-group">
                    <label class="col-sm-2" for="EducationLevel" >Education Level</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.profile.educationLevel" name="EducationLevel">
                            <option selected="">--- Select ---</option>
                            <option>High School</option>
                            <option>Trade School</option>
                            <option>Diploma</option>
                            <option>Bachelors</option>
                            <option>Masters</option>
                            <option>Doctorate</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="OccupationLevel" >Occupation Level</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.profile.occupationLevel" name="OccupationLevel">
                            <option>--- Select ---</option>
                            <option>Accounts/Auditing</option>
                            <option>Administrative/Secretarial</option>
                            <option>Advertising/Media/PR</option>
                            <option>Banking/Finance</option>
                            <option>Customer Service</option>
                            <option>Education/Teaching</option>
                            <option>Engineering/Architecture</option>
                            <option>Food Services</option>
                            <option>Government</option>
                            <option>Healthcare &amp; Medical</option>
                            <option>Hospitality &amp; Tourism</option>
                            <option>I.T/Communications</option>
                            <option>Journalism</option>
                            <option>Legal</option>
                            <option>Law enforcement</option>
                            <option>Military</option>
                            <option>Management/HR</option>
                            <option>Political/Government</option>
                            <option>Researcher</option>
                            <option>Sales &amp; Marketing</option>
                            <option>Teacher/Professor</option>
                            <option>Technical Science</option>
                            <option>Transportation</option>
                            <option>Self-employed / Entrepruneur</option>
                            <option>Student</option>
                            <option>Not Working</option>
                            <option>Doctor</option>
                            <option>Senior Management</option>
                            <option>Consultant</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="AnnualIncome">Annual Income</label>
                    <div class="col-sm-10"><input type="text" class="form-control" ng-model="vm.profile.annualIncome" name="AnnualIncome"></div>
                </div>

                <h4>Location / Contact</h4>
                
                <br/>

                <div class="form-group">
                    <label class="col-sm-2" for="PlaceOfBirthday" >Place Of Birthday</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.profile.placeOfBirthday" name="PlaceOfBirthday">
                            <option>--- Select ---</option>
                            <option>Sri Lanka</option>
                            <option>Canada</option>
                            <option>United Kingdom</option>
                            <option>France</option>
                            <option>Switzerland</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>United States of America</option>
                            <option value="">-------------------------</option>
                            <option>Afghanistan</option>
                            <option>Albania</option>
                            <option>Algeria</option>
                            <option>American Samoa</option>
                            <option>Andorra</option>
                            <option>Angola</option>
                            <option>Anguilla</option>
                            <option>Antarctica</option>
                            <option>Antigua and Barbuda</option>
                            <option>Argentina</option>
                            <option>Armenia</option>
                            <option>Aruba</option>
                            <option>Ashmore and Cartier Islands</option>
                            <option>Australia</option>
                            <option>Austria</option>
                            <option>Azerbaijan</option>
                            <option>Bahamas</option>
                            <option>Bahrain</option>
                            <option>Bangladesh</option>
                            <option>Barbados</option>
                            <option>Bassas da India</option>
                            <option>Belarus</option>
                            <option>Belgium</option>
                            <option>Belize</option>
                            <option>Benin</option>
                            <option>Bermuda</option>
                            <option>Bhutan</option>
                            <option>Bodies of water</option>
                            <option>Bolivia</option>
                            <option>Bosnia and Herzegovina</option>
                            <option>Botswana</option>
                            <option>Bouvet Island</option>
                            <option>Brazil</option>
                            <option>British Indian Ocean Territory</option>
                            <option>British Virgin Islands</option>
                            <option>Brunei</option>
                            <option>Bulgaria</option>
                            <option>Burkina Faso</option>
                            <option>Burundi</option>
                            <option>Cambodia</option>
                            <option>Cameroon</option>
                            <option>Canada</option>
                            <option>Cape Verde</option>
                            <option>Cayman Islands</option>
                            <option>Central African Republic</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="CountryLiveIn" >Country Live In</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.profile.countryLiveIn" name="CountryLiveIn">
                            <option>--- Select ---</option>
                            <option>Sri Lanka</option>
                            <option>Canada</option>
                            <option>United Kingdom</option>
                            <option>France</option>
                            <option>Switzerland</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>United States of America</option>
                            <option value="">-------------------------</option>
                            <option>Afghanistan</option>
                            <option>Albania</option>
                            <option>Algeria</option>
                            <option>American Samoa</option>
                            <option>Andorra</option>
                            <option>Angola</option>
                            <option>Anguilla</option>
                            <option>Antarctica</option>
                            <option>Antigua and Barbuda</option>
                            <option>Argentina</option>
                            <option>Armenia</option>
                            <option>Aruba</option>
                            <option>Ashmore and Cartier Islands</option>
                            <option>Australia</option>
                            <option>Austria</option>
                            <option>Azerbaijan</option>
                            <option>Bahamas</option>
                            <option>Bahrain</option>
                            <option>Bangladesh</option>
                            <option>Barbados</option>
                            <option>Bassas da India</option>
                            <option>Belarus</option>
                            <option>Belgium</option>
                            <option>Belize</option>
                            <option>Benin</option>
                            <option>Bermuda</option>
                            <option>Bhutan</option>
                            <option>Bodies of water</option>
                            <option>Bolivia</option>
                            <option>Bosnia and Herzegovina</option>
                            <option>Botswana</option>
                            <option>Bouvet Island</option>
                            <option>Brazil</option>
                            <option>British Indian Ocean Territory</option>
                            <option>British Virgin Islands</option>
                            <option>Brunei</option>
                            <option>Bulgaria</option>
                            <option>Burkina Faso</option>
                            <option>Burundi</option>
                            <option>Cambodia</option>
                            <option>Cameroon</option>
                            <option>Canada</option>
                            <option>Cape Verde</option>
                            <option>Cayman Islands</option>
                            <option>Central African Republic</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="Citizenship" >Citizenship</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.profile.citizenship" name="Citizenship">
                            <option>--- Select ---</option>
                            <option>Sri Lanka</option>
                            <option>Canada</option>
                            <option>United Kingdom</option>
                            <option>France</option>
                            <option>Switzerland</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>United States of America</option>
                            <option value="">-------------------------</option>
                            <option>Afghanistan</option>
                            <option>Albania</option>
                            <option>Algeria</option>
                            <option>American Samoa</option>
                            <option>Andorra</option>
                            <option>Angola</option>
                            <option>Anguilla</option>
                            <option>Antarctica</option>
                            <option>Antigua and Barbuda</option>
                            <option>Argentina</option>
                            <option>Armenia</option>
                            <option>Aruba</option>
                            <option>Ashmore and Cartier Islands</option>
                            <option>Australia</option>
                            <option>Austria</option>
                            <option>Azerbaijan</option>
                            <option>Bahamas</option>
                            <option>Bahrain</option>
                            <option>Bangladesh</option>
                            <option>Barbados</option>
                            <option>Bassas da India</option>
                            <option>Belarus</option>
                            <option>Belgium</option>
                            <option>Belize</option>
                            <option>Benin</option>
                            <option>Bermuda</option>
                            <option>Bhutan</option>
                            <option>Bodies of water</option>
                            <option>Bolivia</option>
                            <option>Bosnia and Herzegovina</option>
                            <option>Botswana</option>
                            <option>Bouvet Island</option>
                            <option>Brazil</option>
                            <option>British Indian Ocean Territory</option>
                            <option>British Virgin Islands</option>
                            <option>Brunei</option>
                            <option>Bulgaria</option>
                            <option>Burkina Faso</option>
                            <option>Burundi</option>
                            <option>Cambodia</option>
                            <option>Cameroon</option>
                            <option>Canada</option>
                            <option>Cape Verde</option>
                            <option>Cayman Islands</option>
                            <option>Central African Republic</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2" for="email">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.profile.email" name="email">
                    </div>
                </div>


                <h4>Family details</h4>

                <br />

                <div class="form-group">
                    <label class="col-sm-2" for="Mothertongue">Mother tongue</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.profile.mothertongue" name="Mothertongue">
                            <option value="0" selected="">--- Select ---</option>
                            <option>Sinhalese</option>
                            <option>Tamil</option>
                            <option>English</option>
                            <option>Malay</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>

                <h4>Password For Login</h4>

                <br />

                <div class="form-group">
                    <label class="col-sm-2" for="Password" >Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.profile.password" name="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="ConfirmPassword">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.profile.confirmPassword" name="ConfirmPassword" >
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2" for="ConfirmPassword">Profile Picture</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" file-model="vm.profile.profilePicture" name="ProfilePicture">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2" for="ConfirmPassword">Horoscope</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" file-model="vm.profile.horoscope" name="Horoscope">
                    </div>
                </div>

            </div>
            
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div>
                    <button type="button" class="btn btn-success" ng-click="vm.register()">
                        Register
                    </button>
                </div>
            </div>

        </div>
    </section>

</section>
